body { 
	min-width: 300px;
	min-height: 155px;
	-webkit-user-select: none;
	cursor: default;
}
body.noAlbumArt {
    min-width: 200px;
}
body.notPlaying {
	min-height: 60px;
}
a, a:hover {
    color: white !important;
}
.hidden, body.notification #pin, body.notification #search, body.notPlaying #albumart, body.notPlaying #songDetails, body.notPlaying #player_volume, body.notPlaying #playerDetails_nowPlaying, body.notPlaying #queue_position, body.notPlaying #player_controls_right, body.noAlbumArt #thumbnail { display: none !important; }
.fltlft { float: left; }
.fltrht { float: right; }
#thumbnail { overflow: hidden; }
#player_controls_right, #player_controls_playback { float: none; }
body.notification:not(.notPlaying) #albumart {
    height: 100px;
}
body.notification:not(.notPlaying) #thumbnail #player_controls_playback {
    opacity: 0.02;
    z-index: 20000;
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    -webkit-transition-duration: 500ms;
    -webkit-transition-delay: 500ms;
}
body.notification:not(.notPlaying) #thumbnail:hover #player_controls_playback,
body.notification.paused:not(.notPlaying) #thumbnail #player_controls_playback { 
    margin-top: -40px;
    opacity: 0.96;
    height: 40px;
    -webkit-transition: opacity ease 200ms, height ease 200ms, margin ease 200ms;
    -webkit-transition-delay: 0;
}
#player_controls_right {
    margin-top: -40px;
    opacity: 0.02;
    z-index: 20000;
    position: absolute;
    width: 100px;
    height: 32px;
    overflow: hidden;
    background: url(http://static.a.gs-cdn.net/webincludes/css/images/player/controls.png) no-repeat top right;
    -webkit-transition-duration: 500ms;
    -webkit-transition-delay: 500ms;
}
#player_controls_right button {
    margin-top: -4px;
}
#player_controls_right:first-child {
    padding-left: 5px;
}
#thumbnail:hover #player_controls_right {
    opacity: 0.96;
    margin-top: 0;
    -webkit-transition: opacity ease 200ms, height ease 200ms, margin ease 200ms;
    -webkit-transition-delay: 0;
}
body #songDetails div.scrollable {
    text-wrap: none;
    white-space: nowrap;
    height: 1.1em;
    text-overflow: ellipsis;
}
body.notification #songDetails div.scrollable {
    overflow: hidden;
    width: 180px;
}
#pin { 
    background: transparent url(../img/pin.png) no-repeat; 
    height: 16px;
    width: 17px;
    display: block;
    position: absolute;
    right: 115px;
    top: 12px;
}
body.noAlbumArt #pin {
    right: 15px;
}
#settingsBtn {
    position: absolute;
    right: 136px;
    top: 12px;
    height: 16px;
    width: 16px;
    background: transparent url(../img/settings_icon.png) no-repeat;
}
body.noAlbumArt #settingsBtn {
    right: 36px;
}
body.notification #settingsBtn, #settingsBtn.noPin {
    right: 118px;
}
body.noAlbumArt.notification #settingsBtn, body.noAlbumArt #settingsBtn.noPin {
    right: 18px;
}
#thumbnail {
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: 6000;
	-webkit-box-shadow: gray 0px 0px 10px;
}
#thumbnail img#albumart {
	max-width: 100px;
}
#songDetails {
	padding: 8px;
	width: 180px;
	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1) 8px, rgba(0,0,0,1) 172px, rgba(0,0,0,0));
}
body.noAlbumArt #songDetails {
    margin-right: 5px;
}
#lowerControls {
	margin-right: 120px;
}
body.noAlbumArt #lowerControls {
    margin-right: 5px;
}
#songName {
	font-weight: bold;
}
#player_volume {
	background: url(../img/volume_icon.png) no-repeat;
	margin: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
}
#player_volume.mute {
	background: url(../img/mute_icon.png) no-repeat;
}
	#search {
	padding: 0px 8px 4px;
	clear: both;
}
#searchBox {
	background: #333 url(../img/search_icon.png) 2px center no-repeat !important;
	color: #FFF;
	border-radius: 4px;
	margin-top: 4px;
	padding: 2px 2px 2px 16px;	
	-webkit-user-select: text;
    -webkit-appearance: none;
}
#bufferinglogo {
    position: absolute;
    left: 8px;
    top: 8px;
    display:block;
    background:url(../img/loading_header.gif) no-repeat;
    height: 32px;
    width: 32px;
    z-index: 200000;
}
#playerDetails_nowPlaying {
	height: 24px;
}
#playerDetails_nowPlaying .btn.add {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
#playerDetails_nowPlaying .btn.favorite {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
#playerDetails_nowPlaying .btn.radio_btn {
	display: none;
}
#playerDetails_nowPlaying.radioOn .btn.radio_btn {
	display: block;
}
#playerDetails_nowPlaying.radioOn .btn.favorite {
	border-radius: 0px;
}
#playerDetails_nowPlaying.radioOn .frown {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
#playerDetails_nowPlaying .btn {
	margin: 0px 1px 0px 0px;
	width: 20px;
}
#playerDetails_nowPlaying .frown, #playerDetails_nowPlaying .smile {
	background: url(../img/smile_frown_icons.png) no-repeat;
}
#playerDetails_nowPlaying .frown {radioSmileBtn
	background-position: -20px 0px;
}
#playerDetails_nowPlaying .smile:hover {background-position: 0 -18px;}
#playerDetails_nowPlaying .smile:active {background-position: 0 -36px;}
#playerDetails_nowPlaying .smile.selected {background-position: 0 -54px;}
#playerDetails_nowPlaying .smile.selected:active {background-position: 0 -36px;}
#playerDetails_nowPlaying .frown {background-position: -20px 0;}
#playerDetails_nowPlaying .frown:hover {background-position: -20px -18px;}
#playerDetails_nowPlaying .frown:active {background-position: -20px -36px;}
#playerDetails_nowPlaying .frown.selected {background-position: -20px -54px;}
#playerDetails_nowPlaying .frown.selected:active {background-position: -20px -36px;}
#player_play_pause.buffering {
    background: url(http://static.a.gs-cdn.net/webincludes/css/images/player/loading.gif) 8px 8px no-repeat, url(http://static.a.gs-cdn.net/webincludes/css/images/player/controls.png) no-repeat -150px 0px;
}
#player_times { 
	width: auto;
	margin-top: 3px;
}
#player_elapsed {
   padding-right: 3px;
}
#player_duration {
   padding-left: 3px;
}

#queue_position {
    position: absolute;
    right: 0px;
    background-color: rgba(25, 25, 25, 0.65);
    border-bottom-left-radius: 6px;
    font-size: 10px;
    padding: 2px 2px 4px 4px;
    text-shadow: black 0px 0px 3px;
}
#queue_position #queue_current_position {
    color: #FFF;queue_position
    display: block;
    float: left;
    height: 14px;
    font-size: 12px;
    line-height: 12px;
}
#queue_position #queue_total, #queue_position #queue_position_separator {
    color: #AAA;
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
}

#volumeControl {
    bottom: 10px;
    left: 4px;
    width: 180px;
    height: 32px;
    background: url(../img/volume_bg.png) no-repeat;
    display: none;
}
body.notification #volumeControl {
    top: 90px;
}
#volumeSlider {
    width: 150px;
    height: 16px;
}
#volumeSlider .ui-slider-range{
    margin: 6px;
    height: 8px;
    bottom: -3px;
    background: url(../img/volume_range.png) repeat-x;
}
