<form id="settings_sharkzapper" class="vertical" method="post" action="">
    <h3>sharkZapper Settings</h3>
    <fieldset>
        <legend>Appearance</legend>
        <ul class="checkbox_wrapper">
            <li>
                <input id="settings_sharkzapper_showAlbumArt" type="checkbox" tabindex="" name="settings_sharkzapper_showAlbumArt"
                <% if (sharkzapperSettings.showAlbumArt) { %>checked="checked"<% } %> onchange="if($(this).is(':checked')){$('#settings_sharkzapper_showQueueButtons,#settings_sharkzapper_showPlaybackButtons').removeAttr('disabled');} else {$('#settings_sharkzapper_showQueueButtons,#settings_sharkzapper_showPlaybackButtons').attr('disabled','disabled');}">
                <label class="value label" for="settings_sharkzapper_showAlbumArt">Show Album Art</label>
                <div class="clear"></div>
            </li>
            <li>
                <input id="settings_sharkzapper_showPlaybackButtons" type="checkbox" tabindex="" name="settings_sharkzapper_showPlaybackButtons"
                <% if (sharkzapperSettings.showPlaybackButtons) { %>checked="checked"<% } %> <% if (!sharkzapperSettings.showAlbumArt) { %>disabled="disabled"<% } %>>
                <label class="value label" for="settings_sharkzapper_showPlaybackButtons">Show Playback Buttons (Previous/Play/Next)</label>
                <div class="clear"></div>
            </li>
            <li>
                <input id="settings_sharkzapper_showQueueButtons" type="checkbox" tabindex="" name="settings_sharkzapper_showQueueButtons"
                <% if (sharkzapperSettings.showQueueButtons) { %>checked="checked"<% } %> <% if (!sharkzapperSettings.showAlbumArt) { %>disabled="disabled"<% } %>>
                <label class="value label" for="settings_sharkzapper_showQueueButtons">Show Queue Buttons (Shuffle/Repeat/Crossfade) on top of Album Art</label>
                <div class="clear"></div>
            </li>
            <li>
                <input id="settings_sharkzapper_showQueuePosition" type="checkbox" tabindex="" name="settings_sharkzapper_showQueuePosition"
                <% if (sharkzapperSettings.showQueuePosition) { %>checked="checked"<% } %>>
                <label class="value label" for="settings_sharkzapper_showQueuePosition">Show Queue Position on top of Album Art</label>
                <div class="clear"></div>
            </li>
            <li>
                <input id="settings_sharkzapper_showMuteButton" type="checkbox" tabindex="" name="settings_sharkzapper_showMuteButton"
                <% if (sharkzapperSettings.showMuteButton) { %>checked="checked"<% } %> onchange="if($(this).is(':checked')){$('#settings_sharkzapper_showVolumeControlOnHover').removeAttr('disabled');} else {$('#settings_sharkzapper_showVolumeControlOnHover').attr('disabled','disabled');}">
                <label class="value label" for="settings_sharkzapper_showMuteButton">Show Volume Mute button</label>
                <div class="clear"></div>
            </li>
            <li>
                <input id="settings_sharkzapper_showVolumeControlOnHover" type="checkbox" tabindex="" name="settings_sharkzapper_showVolumeControlOnHover"
                <% if (sharkzapperSettings.showVolumeControlOnHover) { %>checked="checked"<% } %> <% if (!sharkzapperSettings.showMuteButton) { %>disabled="disabled"<% } %>>
                <label class="value label" for="settings_sharkzapper_showVolumeControlOnHover">Show Volume Control on mute button hover</label>
                <div class="clear"></div>
            </li>
            <li>
                <input id="settings_sharkzapper_showSearchBox" type="checkbox" tabindex="" name="settings_sharkzapper_showSearchBox"
                <% if (sharkzapperSettings.showSearchBox) { %>checked="checked"<% } %>>
                <label class="value label" for="settings_sharkzapper_showSearchBox">Show Search Box (not available in pinned version)</label>
                <div class="clear"></div>
            </li>
            <li>
                <p>To Hide sharkZapper button when Grooveshark is closed, 
                <a href="https://chrome.google.com/webstore/detail/nbpioalcbaajlbpmcgajmlnhggoojbll" target="_blank">Install this extension</a></p>
                <div class="clear"></div>
            </li>
        </ul>
    </fieldset>
    <br />
    <fieldset>
        <legend>Behaviour</legend>
        <ul class="checkbox_wrapper">
            <li>
                <input id="settings_sharkzapper_newTabOnPopupClick" type="checkbox" tabindex="" name="settings_sharkzapper_newTabOnPopupClick"
                <% if (sharkzapperSettings.newTabOnPopupClick) { %>checked="checked"<% } %>>
                <label class="value label" for="settings_sharkzapper_newTabOnPopupClick">Automatically open Grooveshark when clicking SharkZapper button</label>
                <div class="clear"></div>
            </li>
            <li>
                <input id="settings_sharkzapper_showNotificationOnSongChange" type="checkbox" tabindex="" name="settings_sharkzapper_showNotificationOnSongChange"
                <% if (sharkzapperSettings.showNotificationOnSongChange) { %>checked="checked"<% } %>>
                <label class="value label" for="settings_sharkzapper_showNotificationOnSongChange">Show notification on Song Change</label>
                <div class="clear"></div>
            </li>
        </ul>
    </fieldset>
    <div class="buttons left">
        <button class="btn_style4 saveChanges" type="submit" tabindex="" name="">
            <div>
                <span data-translate-text="SAVE_CHANGES"><%= $.localize.getString('SAVE_CHANGES') %></span>
            </div>
        </button>
        <div class="status"></div>
    </div>
</form>
