<form id="sharkzapperMobileWarningForm">
    
    <div id="lightbox_header">
        <div class="cap right"><div class="cap left"><div class="inner">
            <h3>sharkZapper Mobile Warning</h3>
            <p>Warning for using sharkZapper Mobile</p>
        </div></div></div>
    </div>

    <div id="lightbox_content">
        <p class="lightbox_content_block">Using sharkZapper Mobile will send your song and queue details unencrypted to a third-party server which is not controlled by Grooveshark and is accessable to anyone with your sharkZapper ID.<br /><br />Are you sure you want to enable sharkZapper Mobile?</p>
    </div>

    <div id="lightbox_footer">
        <div class="shadow"></div>
        <div class="highlight"></div>
        
        <ul class="right">
            <li class="first last">
                <button class="btn btn_style4 submit" type="button">
                    <div>
                        <span>Yes, enable sharkZapper Mobile</span>
                    </div>
                </button>
            </li>
        </ul>
        
        <ul class="left">
            <li class="first last">
                <button class="btn btn_style4 close" type="button">
                    <div>
                        <span>No, disable sharkZapper Mobile</span>
                    </div>
                </button>
            </li>
        </ul
        
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</form>


